<h3>
    <a class="btn btn-primary" href="/employee"><i class="fa fa-plus"></i>Create New</a>
    Employee List
</h3>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <table summary="This table shows how to create responsive tables using Datatables' extended functionality"
                class="table table-striped table-bordered dt-responsive">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>{{this.fullName}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.mobile}}</td>
                        <td>{{this.city}}</td>
                        <td>
                            <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            <a href="/employee/delete/{{this._id}}"
                                onclick="return confirm('Are you sure to delete this record?')"><i
                                    class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $('table').DataTable();
</script>

<style>
    body {
        font-size: 140%;
    }

    h2 {
        text-align: center;
        padding: 20px 0;
    }

    table caption {
        padding: .5em 0;
    }

    table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .dataTables_length {
        float: left;
    }

    .dataTables_filter {
        float: right;
    }
</style>