<h3>
    <a class="btn btn-primary" href="/user"><i class="fa fa-plus"></i>Create New</a>
    User List
</h3>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <table summary="This table shows how to create responsive tables using Datatables' extended functionality"
                class="table table-striped table-bordered dt-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th style="width:157px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            <a href="/user/{{this._id}}"> <button class="btn btn-info"
                                    style="text-transform:capitalize">Reset Password</button></a>
                            <a href="/user/{{this._id}}"> <button class="btn btn-warning"
                                    style="text-transform:capitalize">Edit</button></a>
                            <a href="/user/delete/{{this._id}}"
                                onclick="return confirm('Are you sure to delete this record?')"> <button
                                    class="btn btn-danger" style="text-transform:capitalize">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $('table').DataTable();
</script>

<style>
    body {
        font-size: 140%;
    }

    h2 {
        text-align: center;
        padding: 20px 0;
    }

    table caption {
        padding: .5em 0;
    }

    table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
    }

    .p {
        text-align: center;
        padding-top: 140px;
        font-size: 14px;
    }

    .dataTables_length {
        float: left;
    }

    .dataTables_filter {
        float: right;
    }
</style>